<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
    <display-name>BBOSS-MVC</display-name>

    <servlet>
        <servlet-name>HelloServlet</servlet-name>
        <servlet-class>servlet.HelloServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HelloServlet</servlet-name>
        <url-pattern>/servlet/HelloServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ServletLifeCycle</servlet-name>
        <servlet-class>servlet.ServletLifeCycle</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletLifeCycle</servlet-name>
        <url-pattern>/servlet/ServletLifeCycle</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CustomServletLifeCycle</servlet-name>
        <servlet-class>servlet.CustomServletLifeCycle</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>CustomServletLifeCycle</servlet-name>
        <url-pattern>/servlet/CustomServletLifeCycle</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>RegServlet</servlet-name>
        <servlet-class>servlet.RegServlet</servlet-class>
        <load-on-startup>4</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegServlet</servlet-name>
        <url-pattern>/servlet/RegServlet</url-pattern>
    </servlet-mapping>
</web-app>